<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <!-- {% load notification_tags %}
        {% user_notifications %}
        {% user_notifications for box %} -->
    <h1>Please Login</h1>
    <br>
    <form action="{% url 'person:user_login' %}" method="post">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="password">Password</label>
        <input type="password" name="password">

        <input type="submit" name="" value="Login">
    </form>
    <a href="{% url 'person:order_sale' %}">Back</a>
</body>
</html>