<!DOCTYPE html>
{% load render_table from django_tables2 %}
{% load static %}
{% load notification_tags %}
{% include_notify_js_variables %}

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'notify/notifyX.js' %}"></script>
</head>

<body >
        <div class="navbar-nav container"> 
                <a class="nav-item nav-link" href="{% url 'person:register' %}"><i class="fa fa-fw fa-user"></i> SignUp</a>
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'person:logout' %}">Logout</a></li>
                <li><a class="nav-link" href="notifications/all">Notifications</a></li>
                {% else %}
                <li><a class="nav-link" href="{% url 'person:user_login' %}">Login</a></li>
                {% endif %}
              </div>
    <div class="container jumbotron">
            <form action="" method="get">
                    <button value='notify' name="notify">Notify</button>
            </form>
            <ul class="notification-box-list"></ul>
            <!-- {% user_notifications %} -->
            
            <!-- {% user_notifications for box %} -->
    <form class="container" action="" method="get">
            <h2>Order Sale</h2>
        {{ filter.form }}
        <!-- <input type="text" name="search"> -->
        <input type="submit" value="Search"/>
    </form>
    <br>
</div>
    {% render_table table %}
    <!-- {% for i in  filter.qs %}
    {{ i.name }} ,{{ i.Extra }} <br>
    {% endfor %} -->
    <!-- {% if val != 0 %}
    {% render_table filter.qs %}
    {% else %}
    {% render_table table %}
    {% endif %} -->


</body>

</html>