<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    
    {% if registered %}
    <h1>Thank you for registering!</h1>
    <a href="{% url 'person:order_sale' %}">Home</a>
    {% else %}
    
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="container">
            {{ user_form.as_p }}
            <p>By creating an account you agree to our <a href="#" >Terms & Privacy</a>.</p>
            <a href="{% url 'person:order_sale' %}" class="button" >Cancel</a>
            <input type="submit" name="" value="Register" >
        </div>
    </form>
    {% endif %}
    <!-- <a href="{% url 'person:order_sale' %}">Back</a> -->
</body>
</html>